*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    height: 100vh;
    background:url(../../Downloads/premium_photo-1661877737564-3dfd7282efcb.jpg) no-repeat center / cover;
    padding: 50px 5%;
}
.container{
    position:relative;
    height:100%;
    background:rgba(255,255,255,.2);
    border-radius: 30px;
    backdrop-filter: blur(30px);

}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background:rgba(255,255,255,.2);
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.home{
    color: rgb(252, 252, 252);
    align-items: center;
    display:flex;
    gap:50px;
    padding:50px 5% 0;
    height: 100%;
}
.logo{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    text-decoration: solid;

}
.navbar a {
    color: #fff;
    font-size: 18px;
    margin-left: 35px;
    transition: 1s;
 
}
.navbar a:hover{
    color: aquamarine;

}
.home-detail h1{
    font-size: 55px;
    line-height: 1;

}
.home-detail h2{
    font-size: 25px;
    line-height: 2;
}
.home-detail p{
    margin: 10px 0 20px;
}
.img-box{
    border-radius: 100%;
    border-color: rgb(34, 245, 245);
    animation:headshake .5s ease-in-out infinite;

}
@keyframes headshake{
 100%{
    headshakeY: 30px;
 }
 }